<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
   <!-- Argumente deklarieren -->
   <xacro:arg name="name" default="ur"/>
   <xacro:arg name="ur_type" default="ur3e"/>
   <xacro:arg name="tf_prefix" default="" />
   <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
   <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
   <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
   <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <xacro:arg name="simulation_controllers" default="" />
   <xacro:arg name="ros_namespace" default="" />
   <xacro:arg name="origin_xyz" default="0 0 0"/>
   <xacro:arg name="origin_rpy" default="0 0 0"/>
   
   <!-- UR Macro einbinden -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
   
   <!-- ros2_control einbinden -->
   <xacro:include filename="$(find dual_ur_simulation)/urdf/ur_ros2_control.xacro"/>
   
   <!-- World Link -->
   <link name="world" />
   
   <!-- UR Robot -->
   <xacro:ur_robot
     name="$(arg name)"
     tf_prefix="$(arg tf_prefix)"
     parent="world"
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     force_abs_paths="true">
     <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
   </xacro:ur_robot>
   
   <!-- Gazebo Plugin -->
   <gazebo reference="world">
   </gazebo>
   
   <gazebo>
     <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
       <parameters>$(arg simulation_controllers)</parameters>
       <ros>
         <namespace>$(arg ros_namespace)</namespace>
       </ros>
     </plugin>
   </gazebo>
   
   <!-- ros2_control instance -->
   <xacro:ur_ros2_control
     name="$(arg name)"
     prefix="$(arg tf_prefix)"
   />
   
</robot>